---
import { Icon } from "astro-icon/components";
---

<div class="mt-6 flex flex-wrap items-end gap-x-2">
	<p>View my resume</p>
	<a
		class="inline-block sm:hover:text-link"
		href="https://www.scribd.com/document/784570592/Usman-Resume#fullscreen=1"
		rel="noreferrer"
		target="_blank"
	>
		<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name="mdi:file-document" />
		<span class="sr-only">CV</span>
	</a>
</div>
